{% extends 'base.html' %}

{% load static %}
{% load markdownify %}

{% block title %}Home - (O)-Rulings{% endblock %}

{% block content %}
    {% if special_post %}
        <h1>{{ special_post.title }}</h1>
        <div>{{ special_post.content|safe|markdownify }}</div>
    {% else %}
        
    {% endif %}
    
    {% if trsections %}
        <div class="trsections mt-5">
            <h2>Tournament Rules Sections</h2>
            <div class="list-group">
                {% for section in trsections %}
                    <a href="{{ section.url }}" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">{{ section.section }}. {{ section.text }}</h5>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
